.comments-wrapper {
  padding-right: 0 !important;

  .comments-text-area {
    margin-bottom: 10px;
  }

  .text-field-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

    span {
      font-size: 13px;
    }

    svg {
      font-size: 20px;
    }

    button {
      padding: 4px;
      margin-right: 10px;
    }
  }
}

.movie-details-card-image {
  margin: 30px auto !important;
  height: 450px;
  width: 300px;
  border: none;

  @media (max-width: 772px) {
    width: 200px;
    height: 200px;
  }

  .ant-card-cover {
    width: 100%;
    height: 100%;

    @media (max-width: 772px) {
      width: 200px;
    }

    img {
      height: 100%;
    }
  }
}

.list-item-wrapper {
  .list-item-text > span:first-child {
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: normal;
      display: inline-block;
      margin-bottom: 5px;
      color: black;
    }
  .list-item-text > p {
      font-size: 16px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: 1.2;
      line-height: 1.4;
    }
}